@media only screen and (min-width: 601px) {
  body {
    margin:0;
    padding:0;
  }
  #side {
    height:60px;
    width:100%;
    background-color:rgb(217,0,12);
    text-align:center;
    font-size:14px;
    color:white;
  }
  #logo .mobile {
    display:none;
  }
  #logo .desktop {
    height:60px;
    float:left;
  }
  #leader {
    color:white;
    font-weight:bold;
    float:right;
    text-align:right;
    margin-right:40px;
    font-size:16px;
    margin-top:10px;
  }
  #trailer {
    text-align:center;
    color:#666;
    margin-top:10px;
    font-size:14px;
    line-height:20px;
  }
  #list {
    margin:20px 40px;
  }
  .when {
    left:0px;
    background-color:rgb(217,0,12);
    border-radius:4px;
    width:80px;
    padding:4px 0px;
    text-align:center;
    color:white;
    font-weight:bold;
    text-shadow:1px 1px black;
    text-transform:uppercase;
    
  }
  .when .month {
    font-size:25px;
    line-height:20px;
  }
  .when .date {
    font-size:50px;
    line-height:45px;
  }
  .when .time {
    font-size:14px;
    line-height:11px;
  }
  .body .title {
    font-size:24px;
    font-weight:bold;
  }
  .body .place {
    font-size:18px;
  }
  .body .location {
    display:inline-block;
    margin-right:10px;
  }
  .body .address {
    display:inline-block;
    color:#666;
  }
  .body .description {
    color:#333;
    padding-top:5px;
  }
  .mobile-tags {
    display:none;
  }
  .desktop-tags {
    
  }
  .desktop-tags 
  {
    display:inline-block;
  }
  .meta {
    width:90px;
    float:left;
    height:100px;
    max-height:100px;
    vertical-align:top;
  }
  .body {
    min-height:100px;
    vertical-align:top;
  }
  .event {
    display:block;
    margin-bottom:25px;
  }
  #icons {
    padding:20px;
    font-size:36px;
  }
  #icons i {
    margin:10px;
  }
}