body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background:#FAFAFA;
}

.when {
  box-shadow:1px 1px #333;
}

.tag {
  color:white;
  padding:3px 10px;
  margin:2px;
  border-radius:3px;
  font-size:12px;
  text-transform:uppercase;
  font-weight:bold;
  display:inline-block;
  text-shadow:1px 1px black;
  box-shadow:1px 1px #CCC;
  vertical-align:top;
}

.mobile-tags .tag:after {
  display:block;
}

.desktop-tags .tag {
  margin-top:5px;
}

.tag.free {
  background-color:green;
}

.tag.beer {
  background-color:brown;
}

.tag.bar {
  background-color:blue;
}

a {
  text-decoration:none;
  color:#317EAC;
}